@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: tomato;
    font-family: 'Exo 2', 'Roboto', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-section h1 {
    text-align: center;
    font-size: 2rem;
    color: hsl(210, 28%, 21%);
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    
}

.book-card {
    background-color: #FFFFFF;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2C3E50;
}

.book-card p:nth-child(4){
    margin-bottom: 10px;
}

.book-card p:nth-child(3){
    margin-bottom: 10px;
}

.book-card .remove-btn {
    background-color: hsla(6, 78%, 57%, 0.9);
    transition: background-color 0.2s ease;
}

.book-card .remove-btn:hover {
    background-color: hsla(6, 78%, 57%, 0.7);
    transition: background-color 0.2s ease;
}

.book-card .toggle-btn {
    background-color: hsla(204, 70%, 53%, 0.9);
    transition: background-color 0.2s ease;
}

.book-card .toggle-btn:hover {
    background-color: hsla(204, 70%, 53%, 0.7);
    transition: background-color 0.2s ease;
}

.book-card button, #new-book-btn, #new-book-form button{
    max-width: max-content;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 5px 8px;
}

.status-read {
    background-color: yellowgreen;
    color: black;
    max-width: 50px;
    padding: 3px 3px;
    border-radius: 3px;
}

.status-unread {
    background-color: orangered;
    color: black;
    max-width: 100px;
    padding: 3px 3px;
    border-radius: 3px;
}

#new-book-btn {
    margin-left: 20px;
    background-color:plum;
    transition: background-color 0.2s ease;
    position: absolute;
    color: whitesmoke;
    top: 10px;
}

#new-book-btn:hover {
    background-color:hsla(300, 47%, 75%, 0.712);
    transition: background-color 0.2s ease;
}

#form-dialog {
    border: none;
    border-radius: 12px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);;
    backdrop-filter: blur(2px);
}

#new-book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

#new-book-form input:not([type='checkbox']){
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#new-book-form h3{
    font-size: 1.5rem;
    text-align: center;
    color: hsl(210, 28%, 21%);;
}

#new-book-form button {
    max-width: max-content;
    margin-bottom: -8px;
}


#new-book-form button[type='submit']{
    background-color: goldenrod;
}

#new-book-form button[type='submit']:hover{
    background-color: hsla(43, 74%, 49%, 0.616);
}

#new-book-form #close-dialog-btn {
    background-color: red;
}

#new-book-form #close-dialog-btn:hover {
    background-color: hsla(0, 100%, 50%, 0.596);
}